:root{
    --primary-color:rgba(107, 60, 201, 1);
    --secondary-color:rgba(242, 141, 53, 1);
    --analogous-color-1:rgba(106, 68, 242, 1);
    --analogous-color-2:rgba(28, 189, 221, 1);
    --triadic-color-1:rgba(82, 55, 140, 1);
  
    --black:rgb(0, 0, 0);
    --ligth-acier:rgba(84, 90, 117, 1);
    --subtle-acier:rgba(156, 153, 145, 1);
  
    --wizard-white:rgba(226, 242, 254, 1);
    --cuddyl-yarn:rgba(255, 248, 224, 1);
  
    --error-color:rgba(255, 3, 53, 1);
    --success-color:rgba(94, 179, 11, 1);
  
  }


.footer{
    width: 100%;
    height: 24vh;
    margin-top: 3vh;
    background-color: var(--primary-color);
    position: absolute;
    
}

.logo2{
    margin-top: 5vh;
    margin-left: 2vw;

}


@media only screen and (max-width: 768px) {
    .footer{
        width: 100%;
        height: 24vh;
        margin-top: 380vh;
        background-color: var(--primary-color);
        position: absolute;
        
    }

    .logo2{
        margin-top: 5vh;
        margin-left: 5vw;
        
    }

}